<h1>Editing account_book</h1>

<% form_for(@account_book) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @account_book %> |
<%= link_to 'Back', account_books_path %>