<div class="nav grid_10">
  <h2>Menu</h2>
  <div class="section">
    <dl>
      <dt><%= link_to "ユーザー統計", "/statistics/users" %></dt>
      <dt><%= link_to "入退会集計", "/statistics/entret" %></dt>
      <dt><%= link_to "トラッカー集計", "/statistics/tracker_logs" %></dt>
    </dl>
  </div>
</div>

