@charset "UTF-8";

/* 基本構成の定義 */
/* 適用範囲:サイト全体 */

h1 , h2, h3, h5, h6 {
	font-family:"Times New Roman", "New York", "ＤＦ平成明朝体W3", "細明朝体" , "ＭＳ 明朝", serif;
}

img {
	font-size:1.0em;
	font-family:"Impact", "Chicago", fantasy;
}

body {
	/*padding:0.6em 1em;*/
	padding:0;
	margin:0;
}

div.section {
	margin:0.2em;
	padding:0.3em;
}

pre code{
	display:block;
	width:100%;
	border-style:dotted;
	overflow:scroll;
}

div#licence {
	border-style:dotted;
	border-width:2px;
	margin:0.4em;
	padding:0.5em;
}

div#debug-message{
	min-width:10em;
	min-height:6em;
	border-style:solid;
}
